{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title use h1 -->
                <h1 class="post-title">{{ post.title}}
                </h1>
                <!-- Post author name-->
                <p class="post-subtitle"> {{ post.author}} | {{ post.created_on }} </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- image use src link-->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://www.bertelsmann-stiftung.de/fileadmin/files/_processed_/a/c/csm_Fotolia_64336912_X_Original_41023_d2446515ba.jpg" width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Post inside the card-text & template tags -->
                <p class="card-text ">{{ post.content | safe }} </p>
                <div class="row">

                    <div class="col-1">
                        <!--numbers of likes -->
                        <strong class="text-secondary"><i class="far fa-heart"></i>{{ post.number_of_likes }} </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- total_comments-->
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- for loop inside for comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- commenter person name here -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- comment write date here  -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- body of the comment -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- for loop end -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- later -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}